table.AdminDataList.languagerestrictor td:first-child, table.AdminDataList.languagerestrictor th:first-child {
    width: 25% !important;
}

table.AdminDataList.languagerestrictor td:nth-child(2), table.AdminDataList.languagerestrictor th:nth-child(2) {
    width: 35% !important;
}

table.AdminDataList.languagerestrictor td:nth-child(3), table.AdminDataList .languagerestrictor th:nth-child(3) {
    width: 5% !important;
}

table.AdminDataList.languagerestrictor td:nth-child(4), table.AdminDataList.languagerestrictor th:nth-child(4) {
    width: 25% !important;
}

table.AdminDataList.languagerestrictor td:nth-child(n+5), table.AdminDataList.languagerestrictor th:nth-child(n+5) {
    width: 5% !important;
}


